<template>
    <h1>Playground</h1>
    <h1>Composition API</h1>
    <h2>{{name}}</h2>
    <h2>{{state.listItems}}</h2>
    <h2>{{storePerson.name}}</h2>
    <button type="button" @click="storePerson.getPerson">Click Me!</button>
    <AmsuCard/>
    <Button label="Submit" />
    <Button icon="pi pi-check" aria-label="Submit" />

    <div class="grid">
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
        </div>
    </div>
    <h1>Work</h1>
    <h1>Commit from dev branc_h. Test conflict merge</h1>
    <div>lll</div>
</template>

<script lang="ts">
    import { defineComponent, ref, reactive } from 'vue';
    import { usePersonStore } from '../stores/person_store';
    import AmsuCard from "./base/AmsuCard.vue";
    import Button from 'primevue/button';



    interface IBook {
        title: string
        author: string
        year: number
    }

    export default defineComponent({
      components: {AmsuCard, Button},
        setup(){
            const name = ref('Jonne');
            const personStore = usePersonStore();

            const state = reactive({
                newTodo: true as boolean,
                listItems: ['2','3','1'] as string[],
            });

            return {
                name,
                state,
                storePerson:  personStore,
            }

        //    logica of drow template
        }
    })
</script>

<style>
</style>
