<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= user.token %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= user.integer %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user.sex %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= user.integer %>
  </p>

</div>
