<template>

</template>

<script lang="ts">
    import { defineComponent, ref, reactive } from 'vue';

    export default defineComponent({
        setup(){

        }
    })
</script>

<style>
</style>
